body {
    margin: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.pixelated-screen {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    animation: pixelate 3s steps(10) forwards; /* Ajusta la duración y el número de pasos */
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: white;
    background: black;
    border: 5px solid white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    text-align: center;
}

@keyframes pixelate {
    0% { filter: none; }
    100% { filter: pixelate(10px); } /* Aplica el efecto de pixelado */
}
